@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Alegreya:wght@600&family=Anton&family=Archivo:ital,wght@1,500&family=Arvo:wght@700&family=Dosis:wght@500&family=Encode+Sans:wght@700&family=Manrope:wght@700&family=Montserrat:wght@500&family=Open+Sans:wght@600&family=Oswald&family=Playfair+Display:wght@500&family=Raleway:ital,wght@1,600&family=Sora:wght@500&family=Titillium+Web:wght@600&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&family=Amiri:ital,wght@1,700&family=Aref+Ruqaa:wght@700&family=Cairo:wght@700&family=Changa:wght@500&family=El+Messiri:wght@700&family=Harmattan:wght@700&family=IBM+Plex+Sans+Arabic:wght@700&family=Jomhuria&family=Katibeh&family=Lalezar&family=Lateef&family=Lemonada:wght@700&family=Mada:wght@500&family=Markazi+Text:wght@700&family=Mirza:wght@700&family=Noto+Kufi+Arabic:wght@500&family=Noto+Naskh+Arabic:wght@700&family=Noto+Nastaliq+Urdu:wght@700&family=Noto+Sans+Arabic:wght@600&family=Qahiri&family=Rakkas&family=Reem+Kufi:wght@700&family=Scheherazade+New:wght@700&family=Scheherazade:wght@700&family=Tajawal:wght@500&family=Vibes&display=swap");

$ma: "Bebas Neue", cursive;
$h: "Abel", sans-serif;
$g: "Alegreya", serif;
$f: "Anton", sans-serif;
$q: "Archivo", sans-serif;
$w: "Arvo", serif;
$e: "Dosis", sans-serif;
$r: "Encode Sans", sans-serif;
$t: "Manrope", sans-serif;
$y: "Montserrat", sans-serif;
$u: "Open Sans", sans-serif;
$i: "Oswald", sans-serif;
$o: "Playfair Display", serif;
$p: "Raleway", sans-serif;
$l: "Sora", sans-serif;
$k: "Titillium Web", sans-serif;
$j: "Yellowtail", cursive;

//arabic fonts
$z: "Almarai", sans-serif;
$x: "Amiri", serif;
$c: "Aref Ruqaa", serif;
$v: "Cairo", sans-serif;
$b: "Changa", sans-serif;
$n: "El Messiri", sans-serif;
$m: "Harmattan", sans-serif;
$a: "IBM Plex Sans Arabic", sans-serif;
$s: "Jomhuria", cursive;
$d: "Katibeh", cursive;
$zz: "Lalezar", cursive;
$xx: "Lateef", cursive;
$cc: "Lemonada", cursive;
$vv: "Mada", sans-serif;
$bb: "Markazi Text", serif;
$nn: "Mirza", cursive;
$mm: "Noto Kufi Arabic", sans-serif;
$aa: "Noto Naskh Arabic", serif;
$ss: "Noto Nastaliq Urdu", serif;
$dd: "Noto Sans Arabic", sans-serif;
$zzz: "Qahiri", sans-serif;
$xxx: "Rakkas", cursive;
$ccc: "Reem Kufi", sans-serif;
$vvv: "Scheherazade", serif;
$bbb: "Scheherazade New", serif;
$nnn: "Tajawal", sans-serif;
$mmm: "Vibes", cursive;
